<!DOCTYPE html>
<html lang="en" ng-app="busStopApp">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bus Stop App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="js/lodash.underscore.min.js"></script>
		<script src="js/angular-google-maps.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="busStopCtrl as bSCtrl">
        <header class="row">
            <h1>Bus Stop App</h1>
            <p>Bus stop information for London bus service</p>
        </header>	
		<section class="row map">
	        <div class="col map-container">
	        <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
	            <marker coords="marker.coords" options="marker.options" idkey="marker.id" ></marker>
	        </google-map>
	        </div>
		</section>
		<section class="row">
			<div class="col-md-12">
                <h3 ng-hide="stop">Please select a stop to see the stop details and arrival times</h3>
				<div class="stopDetails"ng-modle="stop">
					<h3 class="" ng-model="stop" ng-show="stop">Stop: <span>{{stopName}}</span></h3>
					<p class="lines" ng-model="stop" ng-show="stop">Lines : <span class="lineData" ng-repeat="line in stopLines">{{line.id}} </span></p>
				</div>
				<select ng-model="stop" ng-change="search()">
					<option value="{{$index}}" ng-repeat="stop in stopData">{{stop.commonName}}</option>
				</select>
		</section>
		<section class="row">
            <div class="col-md-12" ng-show="stop">
                <h2>{{stop.commonName}}</h2>
                <h3>Next bus arrival times</h3>
                <ul>
                    <li ng-repeat="arrival in arrivalData | orderBy:'+expectedArrival'" class="arrData">
                        <p><span>Line: <span class="lineData">{{arrival.lineName}}</span> </span> Arrival time: {{arrival.expectedArrival | date:'shortTime' }}<span> Arriving in: {{arrival.minutes | number : 0 }} minutes {{arrival.seconds}} seconds</span><span>Towards :{{arrival.towards}}</span><span>Destination: {{arrival.destinationName}}</span></p>
                    </li>
                </ul>
            </div>    			
		</section>
	</body>
</html>