<!doctype html>
<html class="no-js" lang="" ng-app="portfolioApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Barry Prendergast</title>
        <meta name="description" content="CV Barry Prendergast, Front-End Developer HTML CSS JQuery">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <!-- <link rel="manifest" href="/manifest.json"> -->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr-2.8.3.min.js"></script>
        <!--<script type="text/JavaScript" src="js/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

        <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-sanitize.min.js"></script>
        <script type="text/JavaScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
        <script type="text/JavaScript" src="js/app.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="portfolioController as prtfCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="container center row clearfix">
                <div class="title col-sm-6">
                    <h1>{{prtfCtrl.pdata.name}}</h1>
                    <h2>{{prtfCtrl.pdata.title}}</h2>
                </div>
                <div class="contact-header col-sm-6 clearfix">
                    <ul class="contact-links row">
                        <li class="linkedin col-xs-6">
                            <a ng-href="{{linkedin}}" target="_blank">
                                <span>Linked <i class="fa fa-linkedin-square"></span></i>
                            </a>
                        </li>
                        <li class="gmail col-xs-6">
                            <a ng-href="mailto:{{email}}" target="_blank">
                                <span><i class="fa fa-google"></i> mail</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>              
        </header>
        <article class="container center">       
            <section class="personal clearfix">                  
                <h3>Personal Info</h3>
                <div class="col-md-12">
                    <figure class="col-sm-3 center">
                        <img class="img-responsive" ng-src="{{prtfCtrl.pdata.img}}" alt="">
                    </figure>                       
                    <div class="details" ng-bind-html="myHtml">
                        <!-- <p >{{desc}}</p> -->
                    </div>
                </div>                                
            </section>
            <section class="skills">
                <h3 class="">Skills
                    <span class="pull-right">
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-css3"></i>
                        <i class="jquery"></i>
                    </span>    
                </h3>
                <ul class="inner">
                    <li ng-repeat="skill in prtfCtrl.pdata.skills">{{skill}}</li>
                </ul>                  
            </section>
            <section class="experience">
                <h3>Career History</h3>
                <div class="inner" ng-controller="empController as empCtrl">
                    <div ng-repeat="empresa in empCtrl.empdata.empresas">
                        <h4>{{empresa.name}} 
                            <small>
                                <a ng-href="http://{{empresa.url}}" target="_blank">{{empresa.url}}</a>
                            </small>
                        </h4>
                        <p>{{empresa.date}}</p>
                        <p ng-repeat="para in empresa.description">{{para}}</p>
                        <small class="text-right showBtn">
                            <span ng-show="empresa.examples.length > 0">hide examples </span>
                        </small>
                        <div class="examples">
                            <ul class="row">
                                <li ng-repeat="example in empresa.examples"> 
                                    <figure>
                                        <i class="fa fa-times"></i>
                                        <img class="img-responsive" ng-src="{{example.image}}" alt="Keepunto">
                                        <figcaption>
                                            <h5>{{example.name}}</h5>
                                            <p>{{example.description}}</p>
                                            <small>{{example.skills}}</small>
                                            <a href="http://{{example.link}}" target="_blank" title="keepunto">{{example.link}}</a>
                                            <p>more info</p>
                                        </figcaption>                             
                                    </figure>                              
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h3>Education</h3>
                <div class="inner">
                    <ul>
                        <li ng-repeat="course in prtfCtrl.pdata.education">
                            <h4>{{course.title}}</h4>
                            <small>{{course.duration}}</small>
                            <p ng-repeat="data in course.discription">{{data}}</p>
                        </li>
                    </ul>          
                </div>
            </section>
            <section>
                <h3>Interests</h3>
                <div class="inner">
                    <p>{{prtfCtrl.pdata.interests}}</p>
                </div>
            </section>
            <!-- <section>
                <h3>Contact</h3>
                <div class="inner" ng-controller="formController">
                    <div class="col-md-6">
                        <form name="form" novalidate>
                            <div class="form-group">
                                <label for="">Name:</label>
                                    <input class="form-control" type="text" ng-model="user.name" name="uName" placeholder="Name" required />
                                    <div ng-show="form.$submitted || form.uName.$touched">
                                        <div ng-show="form.uName.$error.required">Tell us your name.
                                    </div>
                                </div>
                            </div>
                        <br />
                            <div class="form-group">
                                <label for="">E-mail:</label> 
                                <input class="form-control" type="email" ng-model="user.email" name="uEmail" placeholder="emial" required />
                                <div ng-show="form.$submitted || form.uEmail.$touched">
                                    <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                                    <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="">Subject:</label> 
                                <input class="form-control" type="text" ng-model="user.subject" name="uSubject" placeholder="Subject" required />
                                <div ng-show="form.$submitted || form.uSubject.$touched">
                                    <span ng-show="form.uSubject.$error.required">Tell us the subject of your request.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Message:</label> 
                                <input class="form-control" type="text" ng-model="user.message" name="uMessage" placeholder="Message" required />
                                <div ng-show="form.$submitted || form.uSubject.$touched">
                                    <span ng-show="form.uSubject.$error.required">Please leave a short message</span>
                                </div>
                            </div>
                            <br />
                            <input type="button" ng-click="reset(form)" value="Reset" />
                            <input type="submit" ng-click="update(user)" value="Save" />
                        </form>
                    </div>
                    <div class="col-md-6 show hide" ng-show="form.$submitted || form.uSubject.$touched">
                        <h3>Preview</h3>
                        <div><h4>Name = {{user.name}}</h4></div>
                        <div><h4>Email = {{user.email}}</h4></div>
                        <div><h4>Subject = {{user.subject}}</h4></div>
                        <div><h4>Message = {{user.message}}</h4></div>
                    </div>
                </div>
            </section> -->
        </article>
        <footer>
            <div class="container center">
                <p class="col-md-12">© copyright barry prendergast 2015 </p>
                <p class="col-md-12">You can contact me via 
                    <a href="mailto:barryprendergast78@gmail.com" target="_blank">email</a> or <a href="http://es.linkedin.com/in/BarryPdrgst" target="_blank">Linkedin</a>
                </p>
                <p class="col-md-12">
                    <i class="fa fa-phone-square"></i>
                    <a href="tel:67 454 227"></a> 667 454 227
                </p>
            </div>
        </footer>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
