/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




html { font-size: 62.5%; } 
body { font-family: 'open sans', sans-serif; font-size: 14px; font-size: 1.4rem; } /* =18px */
article { padding-bottom: 2rem; }
h1,h2 { padding: 0; margin: 0; font-family: 'lato', sans-serif; }
h1 { font-size: 30px; font-size: 3rem; } /* =30px */
h2 { font-size: 18px; font-size: 1.8rem; text-indent: 1.8rem; margin-top:5px; } /* =18px */
h3 {font-size: 28px; font-size: 2.8rem; }
h4 { font-size: 22px; font-size: 2.2rem; margin-top:30px;} /* =22px */
a:hover {
    text-decoration: none;
}
ul {
    padding:0;
    margin:0;
}
li {
    list-style: none;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.content {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.inner {
    padding: 0 1.5rem;
}
header, footer {
    background: #000;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.title {
    margin-bottom: 2rem;
}
.contact-header li {
    display: inline-block;
    font-size: 1.8rem; /*18px*/
    padding:.5rem 2rem;
    text-align: center;
    border: 1px solid #000;
}
.contact-header li:hover {
    border: 1px solid #666;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.contact-header li i {
    font-size: 2.3rem; /*23px*/
}
.gmail i {
    color: #D44233; 
}
.linkedin i {
    color: #007BB6;
}
.contact-header a {
    color:#fff;
}
h3 {
    padding: 1.5rem;
    background: #eee;
}
.details {
    padding-top: 1.5rem;
}
.personal > div > figure {
    max-width: 48rem;
}
.personal img {
    padding: 1.5rem 2rem 2rem 0;
}
.skills h3 span{
    display: inline-block;
    width: 16rem;
}
.jquery {
    background-image: url("../img/jquery.png");
    width: 8rem;
    height: 2.8rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.skills i {
    margin: 0 2%;
    font-size: 25px;
    font-size: 2.5rem; /*28px*/
}
.fa.fa-html5 {
    color:#E44D26;
}
.fa.fa-css3 {
    color: #0070BB;
}
.examples {
    display: block;
    margin-top: 2rem;
    overflow: hidden;
}
.examples ul {
    display: flex;
    display: -webkit-flex;
    flex-dirextion: column;
    -webkit-flex-direction:column;
    justify-content: center;
    -webkit-justify-content:center;
}
.examples li {
    max-width: 300px;
    margin: 10px auto;
    text-align: center;
    max-height: 280px;
    overflow: hidden;
}
.examples figure {
    position: relative;
    min-height: 28rem;
}
.examples figure .fa {
    display: none;
}
.examples img {
    width: 100%;

}
.examples figcaption {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    height: 30%;
    color:#fff;
    overflow: hidden;
    padding: 1rem 2rem;
    -webkit-transition: height 200ms ease-in-out;
    -moz-transition: height 200ms ease-in-out;
    -ms-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out;
}
.examples figcaption h5 {
    font-size: 2rem;
}
.examples figcaption p {
    display: none;
    font: 300 1.4rem lato, sans-serif;
}
.examples figure:hover figcaption {
    height: 100%;
    -webkit-transition: height 200ms ease-in-out;
    -moz-transition: height 200ms ease-in-out;
    -ms-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out;
}
.examples figcaption p:last-child {
    display:block;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.examples figcaption p:last-child:hover {
    cursor: pointer;
}
.examples figcaption a {
  color: #fff;
  padding: .5rem;
  background-color: red;
  margin-top: 3rem;
  display: inline-block;
}
.examples figcaption small {
    color: #fff;
    display: block;
}
.experience small {
    cursor: pointer;
    color: #337ab7;
    position: relative;
}
.showBtn {
    font-size: 1.6rem;
}
.touch figcaption {
    height: 100%;
}
/*.touch figcaption p {
    display: block;
}*/
li.box {
    order: 0;
    -webkit-transition: width 200ms ease-in-out;
    -moz-transition: width 200ms ease-in-out;
    -ms-transition: width 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
    padding: 0;
    max-height: 100%;

}
.box img {
    display: block;
}
.box figure {
    background: rgba(0,0,0,.5);
    padding: 1.5rem;
    position: relative;
}
.box figure .fa {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 200;
}
.box figcaption {
    position: relative;
    width: auto;
    background: none;
    padding: 0;
}
.box figcaption p {
    display: block;
}
.box figcaption p:last-child {
    display: none;
}
.box figcaption a {
    display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.center {
    margin:0 auto;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 640px) {
    .examples ul {
        display: flex;
        display: -webkit-flex;
        flex-dirextion: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content:center;
    }
    .examples li {
        margin: 0 1%;
        min-width: 45%
        -webkit-transition: width 200ms ease-in-out;
        -moz-transition: width 200ms ease-in-out;
        -ms-transition: width 200ms ease-in-out;
        -o-transition: width 200ms ease-in-out;
        transition: width 200ms ease-in-out;
    }
    li.box {
        min-width: 95%;
        order: 0;
        flex-grow: 2;
        -webkit-transition: width 200ms ease-in-out;
        -moz-transition: width 200ms ease-in-out;
        -ms-transition: width 200ms ease-in-out;
        -o-transition: width 200ms ease-in-out;
        transition: width 200ms ease-in-out;
        padding: 0;
    }
    .box img {
        width: 30%;
        float: left;
        -webkit-transition: width 200ms ease-in-out;
        -moz-transition: width 200ms ease-in-out;
        -ms-transition: width 200ms ease-in-out;
        -o-transition: width 200ms ease-in-out;
        transition: width 200ms ease-in-out;
    }
    .box figcaption {
        position: relative;
        width: auto;
        padding: 0px 1.5rem;
        text-align: left;
        -webkit-transition: width 200ms ease-in-out;
        -moz-transition: width 200ms ease-in-out;
        -ms-transition: width 200ms ease-in-out;
        -o-transition: width 200ms ease-in-out;
        transition: width 200ms ease-in-out;
    }
    .box figcaption a {
        text-align: center;
    }
}
@media only screen and (min-width: 992px) {
    li.box {
        min-width: 500px;
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
