<!DOCTYPE html>
<html ng-app="busStopApp">
	<head>
		<meta charset="utf-8">
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		 <script type="text/JavaScript" src="js/app.js"></script>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body class="main-containet">
		<header>
		</header>
		<section id="map"></section>
		<section>
			<div class="container" ng-controller="busStopController as bSCtrl">
				<select name="" id="">
					<option value="" ng-repeat="data in busData">{{data.FIELD5}}, {{data.FIELD6}}</option>
				</select>
				<table>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</section>
		<footer>	
		</footer>
	</body>
	<script>
		function initMap() {
		  // Create a map object and specify the DOM element for display.
		  var map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: 51.5192242, lng: -0.1657416},
		    scrollwheel: false,
		    zoom: 12
		  });
		}
	</script>
	<script>
		$.getJSON('js/bus-stops.json?callback=?', function (data) {
		    var myLat = data.FIELD5;
		})
		alert(myLat);	
	</script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYzyqRnaTyLOe2t53U18cGcrGLOXkRv0c&callback=initMap">
    </script>
</html>