*{padding: 0;}
ul li{list-style: none; padding-left: 0;}
h1{font-size: 4em;margin-top: 0;}
p{font-size: 1.8em;}
.bgRed {background-color: #CE312D; display: inline}
.lineData{background:#CE312D; display: inline-block !Important; color: #fff; padding: 0 2px; margin: 3px; text-align: center}
select, input {font-size: 1.5em; -webkit-appearance: none;width: 100%;}
/*map styles*/
body {width: 90%; margin: 0 auto; min-height: 800px; font-size: 100%;}
div.map_container {
    width: 400px;
    height: 300px;
}

.angular-google-map-container {
    width: 100%;
    height: 300px;
}

/*styles*/
section {margin-bottom: 15px; background: #eee; padding: 15px 0;}
section.map {padding-bottom: 0;}
header {background: #000; color: #fff; padding: 15px}
.map-container {border: 15px solid #CE312D}
.stopDetails {font-size: 100%; font-weight: 600;}

/*.stopDetails p:first-child{display: none;}*/
.stopDetails p span {font-weight: 400;}
/*.stopDetails p.lines span {background:#CE312D; display: inline-block; color: #fff; padding: 0 2px; margin: 3px; text-align: center}*/

.arrData p span {display: block}